@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.confirmOrderMainDiv {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "orderInfos";
    min-height: 80vh;
    background-image: linear-gradient(to right bottom, #252525, #1f1f1f, #1a1a1a, #151515, #0e0e0e, #0d0b10, #0d0811, #0f0412, #1a0416, #240416, #2e0212, #360006)  ;
}

.orderInfos {
    grid-area: orderInfos;
    display: grid;
    grid-template-columns: 5vw 50vw 5vw 30vw 5vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". orderResume . infoAboutPerson .";
}

.infoAboutPerson {
    grid-area: infoAboutPerson;
    display: grid;
    grid-template-columns: 0 auto 0 ;
    grid-template-rows: 5vh 92vh 5vh;
    grid-template-areas: 
    ". . ."
    ". generalInputDiv ."
    ". . .";
}

.generalTitle {
    font-family: 'Delius', cursive;
    color: white;
    text-align: center;
}

.generalInputDiv {
    grid-area: generalInputDiv;
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 80, 73, 0.1);
    padding: 1.5vw;
    border-radius: 1vw;
    height: fit-content;
}

.orderResume {
    grid-area: orderResume;
    display: grid;
    grid-template-columns: 3vw auto 3vw;
    grid-template-rows: 5vh 92vh 5vh;
    grid-template-areas: 
    ". . ."
    ". allCardBox ."
    ". . .";
}

.allCardBox {
    grid-area: allCardBox;
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 80, 73, 0.1);
    padding: 0.7vw;
    border-radius: 1vw;
}

.boxOverflow {
    overflow: auto;
}


.boxOverflow::-webkit-scrollbar {
    width: 0.5rem;
}


.boxOverflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.boxOverflow::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 2vw;
}

.inputField {
    display: flex;
    margin: auto;
    gap: 1vw;
}

.inputField svg {
    font-size: 3vw;
}

.infosInput {
    width: 100%;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.7vw;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    outline: none;
    color: white;
}

.infosInput:hover {
    border-bottom: 1px solid blue;
    opacity: 1;
}

.mainInputDiv, .paymentForm {
    padding: 0.5vw;
}

.iconInputSVG {
    margin: auto;
    color: white;
}

.inputTitleText {
    display: flex;
    font-family: 'Delius', cursive;
    color: white;
    font-size: 1.2vw;
    padding: 0.5vw 0.5vw 0.5vw 0;
    justify-content: left;
}

.orderValueTitle {
    font-family: 'Delius', cursive;
    color: rgb(96, 243, 96);
    margin: 1.5vw;
    padding: 1vw;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid;
    border-radius: 1vw;
}

.selectPaymentForm {
    width: 100%;
    background-color: transparent;
    font-size: 1vw;
    outline: none;
    border: none;
    color: white;
    opacity: 0.5;
    border-radius: none;
}

.selectPaymentForm:hover {
    opacity: 1;
}

.selectPaymentForm option {
    color: white;
    background-color: #302222;
    padding: 3vw;
}

.buttonsDiv {
    margin: auto;
    padding: 1vw 1vw 3vw 1vw;
}

.buttonElement {
    margin-inline: 1.5vw;
    background-color: rgba(72, 80, 73, 0.1);
    padding: 1.5vw;
    font-family: 'Delius', cursive;
    color: goldenrod;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid;
    border-radius: 1vw
}

.buttonElement:hover {
    background-color: rgb(157, 228, 128);
    color: black;
    cursor: pointer;
}

.missingFilledFields {
    font-size: 1vw;
    font-size: 1.5vw;
    font-family: 'Delius', cursive;
    font-weight: bolder;
    position: fixed;
    display: none;
    bottom: 5vh;
    margin: auto;
    left: 35%;
    background-color: white;
    padding: 1vw;
    color: black;
    border-left: 1vw solid rgb(165, 48, 48);
}

@media only screen and (max-width: 800px) {
    .orderInfos {
        display: block;
    }
    .infoAboutPerson {
        grid-template-rows: auto;
        grid-template-columns: 3vw auto 3vw;
    }
    .infosInput {
        font-size: 2vh;
    }
    .generalInputDiv {
        margin-bottom: 1vh;
    }
}