@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.cartDiv {
    background-image: linear-gradient(to right bottom, #252525, #1f1f1f, #1a1a1a, #151515, #0e0e0e, #0d0b10, #0d0811, #0f0412, #1a0416, #240416, #2e0212, #360006);
    color: white;
    min-height: 80vh;
}

.cartTitle {
    font-size: 2vw;
    color: rgb(182, 180, 180);
    padding: 1.5vw;
    opacity: 0.8;
    font-weight: bolder;
    font-family: 'Delius', cursive;
    text-align: center;
}

.customLoader {
    margin: 10vw;
    width:150px;
    height:150px;
    border-radius:50%;
    border:8px solid;
    border-color:#766DF4 #0000;
    animation:s1 1s infinite;
}
@keyframes s1 {to{transform: rotate(.5turn)}}

.loaderText {
    text-align: center;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bolder;
    opacity: 0.5;
    color: gray;
}

.cardsCartDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.finalizeOrder {
    display: flex;
    justify-content: center;
    padding: 1vw 1vw 2vw 1vw;
}

.finalizeOrder button {
    background-color: rgba(72, 80, 73, 0.1);
    padding: 1.5vw;
    font-family: 'Delius', cursive;
    color: goldenrod;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid;
    border-radius: 1vw
}

.finalizeOrder button:hover {
    background-color: rgb(157, 228, 128);
    color: black;
    cursor: pointer;
}