@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
.content_div {
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "content_logo content_logo content_logo"
    ". house_orders_title ."
    ". house_ready_orders .";
    background-image: linear-gradient(to right bottom, #252525, #1f1f1f, #1a1a1a, #151515, #0e0e0e, #0d0b10, #0d0811, #0f0412, #1a0416, #240416, #2e0212, #360006);    color: white;
}

.content_logo {
    grid-area: content_logo;
    display: grid;
    grid-template-columns: 5vw auto auto 5vw;
    grid-template-rows: auto;
    grid-template-areas: ". content_items content_image .";
}

.content_image {
    grid-area: content_image;
}

.content_image img {
    width: 50vw;
    height: auto;
}

.content_items {
    grid-area: content_items;
    display: block;
    margin: auto;
}
.content_introduction {
    display: block;
    padding: 1vw;
}

.content_introduction_title_changed {
    font-family: 'Delius', cursive;
    font-size: 3.5vw;
    text-align: right;
    color: rgba(229,40,63,255);
}

.content_introduction_title {
    font-family: 'Delius', cursive;
    font-size: 3.5vw;
    text-align: right;
}

.content_button {
    padding: 2vw;
}

.logo_image {
    width: 100%;
    height: 100%;
}

.characteristics {
    grid-area: characteristics;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    "delivery quality price";
    padding: 1vw 1vw 0 1vw;
    text-align: center;
    gap: 5vw;
    
}

.house_ready_orders {
    grid-area: house_ready_orders;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: space-around;
}

.house_orders_title {
    grid-area: house_orders_title;
    font-family: 'Delius', cursive;
    margin: auto;
    padding: 1vw 2vw 2vw 2vw;
    font-size: 2vw;
}

.characteristics_text {
    font-family: 'Delius', cursive;
    font-size: 1.5vw;
}

.delivery {
    grid-area: delivery;
}

.characteristics_image {
    width: 8vw;
    height: auto;
}

.quality {
    grid-area: quality;
}


.price {
    grid-area: price;
}

.content_button button {
    display: flex;
    margin: auto;
    justify-content: center;
    border: none;
    background-color: goldenrod;
    color: white;
    padding: 1vw;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    font-family: 'Delius', cursive;
}

.content_button button:hover{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.content_button label {
    display: flex;
    margin: auto;
    font-size: 1.5vw;
    cursor: pointer;
}