@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.card {
    display: grid;
    margin: 1vw;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    font-family: 'Delius', cursive;
    width: 15vw;
    cursor: pointer;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
}

.order_button {
    background-color: rgba(229,40,63,255);
    border: none;   
    border-radius: 1vw;
    color: black;
    cursor: pointer;
}

.order_button:hover {
    background-color: #ece9ac;
    color: black;
    font-weight: bold;
}

.card_image {
    position: relative;
    bottom: -3vw;
    width: 15vw;
    height: auto;
}

.card_p {
    padding: 0.2vw;
    font-size: 1vw;
}

.card_price {
    color: rgb(6, 161, 6);
    font-size: 1.2vw;
    text-align: center;
    padding: 0.5vw 0.5vw 0 0.5vw;
}

.card_title {
    display: flex;
    font-size: 1.5vw;
    text-transform:capitalize;
    padding: 0.5vw;
    justify-content: center;
    font-family: 'Delicious Handrawn', cursive;
}

.ingredients {
    padding: 2vw 1vw 0 1vw;
    border-radius: 2vw;
    background-image: linear-gradient(to right bottom, #484848, #3c3b3c, #302f2f, #252322, #191816);
}