@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.options {
    padding: 1vw;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.checkbox_label {
    color: black;
    padding: 0.3vw;
    font-family: 'Montserrat', sans-serif;
}

.checkbox_input {
    transform: scale(1.5);
}
