@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.options {
    padding: 1vw;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.option_label {
    color: black;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.checkbox_label {
    color: white;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.checkbox_input {
    transform: scale(1.5);
}

.checkbox_div {
    padding: 0.5vw;
    color: white;
}
