@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.footer {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". footer_div footer_div .";
    color: white;
    background-image: linear-gradient(to right, #000000, #090909, #111111, #171717, #1c1c1c);
    font-family: 'Roboto', sans-serif;

}

.footer_div {
    grid-area: footer_div;
    margin: auto;
    display: flex;
    gap: 5vw;
    padding: 2vw;
}