@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.header {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: auto;
    grid-template-areas: ". header_logo header_icons .";
    background-image: linear-gradient(to right, #fedfb2 , #fae894);
    font-family: 'Delius', cursive;
    font-weight: bold;
    font-size: 1.3vw;
}

.header_logo {
    grid-area: header_logo;
    display: flex;
    margin: auto;
    font-family: 'Delius', cursive;
    font-weight: bold;
}

.header_icons {
    margin: auto;
    display: flex;
    grid-area: header_icons;
    gap: 2vw;

}

.header_navs {
    text-decoration: none;
    font-size: 1.2vw;
    margin: auto;
    color: black;
}

.header_navs_p {
    display: flex;
    margin: auto;
    font-size: 1.5vw;
    color: black;
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
    font-family: 'Source Code Pro', monospace;
}

.header_navs_link {
    font-size: 1.5vw;
    margin: auto;
    display: flex;
    color: black;
}

.header_navs_link:hover {
    border-bottom: 2px solid rgb(68, 137, 228);
}

.header_navs_p svg {
    margin: auto;
>>>>>>> Stashed changes
=======
    font-family: 'Source Code Pro', monospace;
}

.header_navs_p svg {
    margin: auto;
>>>>>>> 8e55acd9e4244861d1c9f512ba7553cc6dc3a31c
}

.header_navs:hover {
    border-bottom: 2px solid rgb(68, 137, 228);
}

.logo_image {
    height: 10vh;
}

.label_logo_image {
    margin: auto;
}

<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> 8e55acd9e4244861d1c9f512ba7553cc6dc3a31c
.profile {
    display: flex;
    margin: auto;
    padding: 1vw;
<<<<<<< HEAD
    gap: 1vw;
=======
    gap: 0.5vw;
>>>>>>> 8e55acd9e4244861d1c9f512ba7553cc6dc3a31c
}

.profile svg {
    margin: auto;
    font-size: 1.5vw;
}



<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> 8e55acd9e4244861d1c9f512ba7553cc6dc3a31c
