@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.header {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: auto;
    grid-template-areas: ". header_logo header_icons .";
    background-color: #fedfb2;
    font-family: 'Delius', cursive;
    font-weight: bold;
    font-size: 1.3vw;
}

.header_logo {
    grid-area: header_logo;
    display: flex;
    margin: auto;
    font-family: 'Delius', cursive;
    font-weight: bold;
}

.header_icons {
    margin: auto;
    display: flex;
    grid-area: header_icons;
    gap: 2vw;

}

.header_navs {
    text-decoration: none;
    font-size: 1vw;
    color: black;
}

.header_navs_p {
    font-size: 1vw;
    color: black;
}

.header_navs:hover {
    color: white;
}

.logo_image {
    height: 10vh;
}

.label_logo_image {
    margin: auto;
}

