@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "name_image_and_price_of_card ingredients";
    cursor: pointer;
    margin: 2vw;
    padding: 1vw;
    width: 30vw;
    font-family: 'Delius', cursive;
    background-image: linear-gradient(to right bottom, #000000, #090909, #111111, #171717, #1c1c1c);
}

.name_image_and_price_of_card {
    grid-area: name_image_and_price_of_card;
}

.RemoveOrAddQuantity {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 2vw;
}

.quantityValue {
    width: 50%;
    color: white;
    display: flex;
}
.quantityValue p {
    margin: auto;
}

.addQuantity, .removeQuantity {
    color: white;
    padding: 0.8vw;
    display: flex;
    font-size: 1.5vw;
    
}

.addQuantity:hover, .removeQuantity:hover {
    background-color: rgb(92, 87, 87);
}

@media only screen and (max-width: 648px) {
    .card {
        width: 60vw;
        margin: 2vh;
        padding: 1vh;
    }
    .card_title {
        font-size: 1.5vh !important;
    }
    .card_price {
        font-size: 1.5vh !important;
    }
    .card_p {
        font-size: 1.1vh !important;
    }
    .card_name {
        font-size: 1.5vh !important;
    }
    .order_button {
        padding: 0.8vh !important;
    }
    .button_div {
        bottom: -4vh !important;
    }
    .card_image {
        width: 15vw !important;
        height: 10vh !important;
    }
}

.ingredients {
    grid-area: ingredients;
    display: flex;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
    background-color: transparent;
    opacity: 0.5;
    padding: 1vw;
}

.card:hover {
    border-bottom: 1px solid goldenrod;
}

.addCartItemIndicator {
    font-size: 1vw;
    position: fixed;
    display: none;
    bottom: 5vh;
    left: 40%;
    background-color: white;
    padding: 1vw;
    color: black;
    border-left: 0.7vw solid rgb(118, 165, 48); 
}

.card_content_items {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: auto;
    justify-content: space-evenly;
}

.card_name {
    display: flex;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5vw;
    justify-content: center;
    text-transform: uppercase;
    margin: auto;
}

.button_div {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto 0;
}

.order_button {
    background-color: rgba(229,40,63,255);
    border: none;   
    border-radius: 1vw;
    color: black;
    cursor: pointer;
    position: relative;
}

.order_button svg {
    display: flex;
    margin: auto;
    color: white;
    padding: 1vw;
    font-size: 2vw;
}

.order_button svg:hover {
    color: black;
}

.order_button:hover {
    background-color: #ece9ac;
    color: black;
    font-weight: bold;
}

.card_image {
    grid-area: card_image;
    margin: auto;
    display: flex;
    position: relative;
    width: 15vw;
    height: 15vh;
}

.card_p {
    padding: 0.2vw;
    font-size: 1vw;
}

.card_price {
    color: rgb(96, 243, 96);
    padding: 1vw;
    font-size: 1.2vw;
    text-align: center;
    border: 2px solid;
    border-radius: 1vw;
    margin: auto;
}

.card_title {
    display: flex;
    text-transform:capitalize;
    font-size: 1.5vw;
    padding: 0.5vw;
    justify-content: center;
    font-family: 'Delicious Handrawn', cursive;
}

.ingredients:hover {
    opacity: 1;
}