@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.header {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: 10vh;
    grid-template-areas: ". header_logo header_icons .";
    background-image: linear-gradient(to right, #131313, #111214, #0d1213, #0a120e, #0e1007);
    font-family: 'Delius', cursive;
    font-weight: bold;
    font-size: 1.3vw;
}

@media (max-width: 800px) {
    .header_navs {
        font-size: 1.2vh !important;
    }
    
    .header_navs_p {
        font-size: 1.2vh !important;
    }
    .label_logo_image {
        font-size: 1.2vh !important;
    }
    .logo_image {
        height: 7.5vh !important;
    }
    .profile svg {
        font-size: 1.5vh !important;
    }
}

.cartDiv {
    display: flex;
    gap: 0.5vw;
    margin: auto;
}

.cartDiv svg {
    color: white;
    font-size: 2vw;
}

.header_logo {
    grid-area: header_logo;
    display: flex;
    gap: 2vw;
    margin: auto;
    font-family: 'Delius', cursive;
    font-weight: bold;
}

.header_icons {
    margin: auto;
    display: flex;
    grid-area: header_icons;
    gap: 2vw;

}

.header_navs {
    text-decoration: none;
    font-size: 1.2vw;
    margin: auto;
    white-space: nowrap;
    color: rgb(221, 220, 220);
}

.header_navs_p {
    display: flex;
    margin: auto;
    white-space: nowrap;
    font-size: 1.5vw;
    font-family: 'Source Code Pro', monospace;
}

.header_navs_link {
    font-size: 1.5vw;
    margin: auto;
    display: flex;
}

.header_navs_link:hover {
    padding: 0.5vw;
    border: 1px solid white;
    border-radius: 2vw;
}

.header_navs_p svg {
    margin: auto;
}

.header_navs:hover {
    border-bottom: 2px solid rgb(68, 137, 228);
    color: rgba(229,40,63,255);
}

.logo_image {
    height: 10vh;
}

.label_logo_image {
    margin: auto;
    text-decoration: none;
    color: rgb(221, 220, 220);
}

.label_logo_image:hover {
    border-bottom: 2px solid rgb(68, 137, 228);
    color: rgba(229,40,63,255);
}

.profile {
    display: flex;
    margin: auto;
    padding: 1vw;
    gap: 1vw;
    color: rgb(221, 220, 220);
}

.profile svg {
    margin: auto;
    font-size: 1.5vw;
}



