@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.createBurguer_div {
    justify-content: center;
    padding: 3vw 1vw 3vw 1vw;
}

.chooses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choose_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 1.5vw;
    font-size: 1.5vw;
}

.choose_p {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.choose_options_div {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.choose_input_div {
    color: white;
    caret-color: transparent;
    margin: auto;
}

.choose_specific_div {
    margin: 1.5vw 1.5vw 0 1.5vw;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.choose_dropdown_input {
    border: none;
    outline: none;
    padding: 1vw;
    width: 20vw;
    background-color: white;
    color: black;
}

.choose_specific_div svg {
    font-size: 2vw;
    margin: auto;
}

.choose_all_options_div {
    position: absolute;
    display: none;
    margin: 0 1.5vw 0 1.5vw;
    background-color: white;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.choose_specific_div:hover ~ .choose_all_options_div {
    display: flex;
    flex-direction: column;
}

.choose_all_options_div:hover {
    display: flex;
    flex-direction: column;
}