@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.login_div {
    display: grid;
    grid-template-columns: 40vw 10vw 10vw 40vw;
    grid-template-rows: 5vh 90vh 5vh;
    grid-template-areas:
    ". . . ." 
    "login_form gif_image gif_image gif_image" 
    ". . . .";
    font-family: 'Roboto', sans-serif;

}

.gif_image {
    grid-area: gif_image;
    display: flex;
    justify-content: center;

}

.image_gif {
    background-color: red;
}

.login_form {
    grid-area: login_form;
    margin: auto;
    padding: 1.5vw;
    height: auto;
    border-radius: 1vw;
    background-color: #f6f1de;
    opacity: 0.9;
    
}

.form_title {
    margin: 0;
    padding: 1vw;
    text-align: center;
}

.user_div {
    display: flex;
    flex-direction: column;
}

.titles_style {
    font-weight: bolder;
}

.password_div {
    display: flex;
    flex-direction: column;
}

.input_with_icon {
    padding: 1vw;
    display: flex;
}

.input_with_icon svg {
    margin: auto;
    font-size: 2vw;
}

.user_password_input {
    width: 20vw;
    border: none;
    padding: 1vw;
    margin: 0 1vw 0 1vw;
    background-color: #f6f1de;
    color: black;
    outline: none;
}

.user_password_input:hover{
    border-bottom: 1px solid rgb(68, 137, 228);
}

input:focus::placeholder {
    color: transparent;
  }

::placeholder {
    color: black;
}


.buttons_div {
    display: flex;
    padding: 1vw;
    flex-direction: column;
}

.button_buttons {
    border: none;
    color: white;
    background-color: #FF725E; 
    padding: 1vw;
    margin: 1vw;
    border-radius: 2vw;
}

.button_buttons:hover {
    background-color: #ff5254;
    color: white;
    font-weight: bold;
}