@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.orders_title {
    padding: 1.5vw;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.orders_main_div {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". cards_div .";
}

.cards_div {
    grid-area: cards_div;
    display: flex;
    padding: 0 2vw 2vw 2vw;
}