@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

.orders {
    background-image: linear-gradient(to right bottom, #252525, #1f1f1f, #1a1a1a, #151515, #0e0e0e, #0d0b10, #0d0811, #0f0412, #1a0416, #240416, #2e0212, #360006);
    color: white; 
}

.orders_title {
    padding: 1.5vw 1.5vw 0.5vw 1.5vw;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Delius', cursive;
    display: flex;
    justify-content: center;
}

.orders_main_div {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". cards_div .";
}

.cards_div {
    grid-area: cards_div;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 1vw 0 1vw 0;
}

@media only screen and (max-width: 648px) {
    .cards_div {
        display: block;
        margin: auto;
    }
    .orders_main_div {
        grid-template-rows: auto;
    }
}